# Cleaning the Historical Data

In this notebook, we take the summary of historical zoonotic outbreaks compiled by Hubálek and Rudolf in their 2010 [paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7120709/). We copied their summary into a text file called HistoricalOutbreaks.txt, which can be found in the Data folder in our repository. We then read in the text file and converted the data to a dataframe to be used to create a visualization for our report.

In [208]:
import pandas as pd
import re
import openai
import backoff
import ast
from collections import Counter

In [139]:
# Read the text data from the file
with open('data/HistoricalOutbreaks.txt', 'r', encoding='utf-8') as file:
    text_data = file.read()

# Split the text into lines
lines = text_data.split('\n')

# Initialize lists to store the information
years = []
sources = []
descriptions = []
total_cases = []

# Extract information from each line
for line in lines:

    # Extract the year of the outbreak, the source (or the source of the information), and the description
    try:
        parts = line.split(': ', 1)
        description = parts[1]
    except:
        parts = line.split(', ', 1)
        description = parts[1]
    try:
        part_1 = parts[0].split(', ')
        year, source = part_1[0], part_1[1]
    except:
        year, source = parts[0], "Multiple Sources"

        
    # Try to extract total cases if available
    try:
        total_cases_match = re.search(r'(\d+,?\d*)\s*(?:cases|victims|persons died)', description)
        total_count = total_cases_match.group(1) if total_cases_match else None
    except:
        total_count = None

    # Append to lists
    years.append(year)
    sources.append(source)
    descriptions.append(description)
    total_cases.append(total_count)

# Create a DataFrame

df = pd.DataFrame({'Year': years, 'Source': sources, 'Description': descriptions, 'Total Cases': total_cases})

pd.set_option('display.max_rows', None)
df.head(5)

,Year,Source,Description,Total Cases
0,Eighteenth century BC,Babylonian codex Eshuna,“mad dogs” (most probably rabies).,None
1,Fourth century BC,Talmud,notes on mad dogs in Israel.,None
2,1320 BC,Bible,a description of a plague epidemic among the P...,None
3,556 BC,China,a description of rabies.,None
4,435 BC,HIPPOKRATES,“Epidemion” (the causes of diseases are in env...,None

This looks pretty good. Next, let's clean things up a bit.

In [151]:
# To see all of the different values for years, uncomment the following code:
# print(df.Year.unique())

# Function to clean the Year column (remember we are interested in the beginning of each outbreak)
def clean_year(year):
    
    # Handle cases defined as centuries instead of years
    if 'century' in year:
        century_int_map = {
            'Eighteenth': "1800",
            'Fourth': "400",
            'First': "100",
            'Fifteenth': "1400",
            }
        parts = year.split(' ')
        try:
            year = century_int_map[parts[0]] + ' ' + parts[2]
        except:
            year = century_int_map[parts[0]]
            
    # Handle cases that include "BC"
    if 'BC' in year:
        parts = year.split(' ')
        if len(parts[0])<5:
            year = -int(parts[0])
        else:
            years = year.split()
            #print(years)
            years_split = years[0].split("–")
            #print(years_split)
            year = [i for i in range(-int(years_split[0]), -int(years_split[1])+1)]
    #print(year)
    
    # Handle year ranges (e.g. "1713-1715")
    if '–' in str(year)[1:]:
        years = year.replace(' ', '').split()
        if len(years[0])>9:
            years_split = years[0][:9].split("–")
        else:
            years_split = years[0].split("–")
            # Handle cases where both years aren't 4 digits.
            if len(years_split[1]) == 2:
                years_split[1] = years_split[0][:2] + years_split[1]   
        year = [i for i in range(int(years_split[0]), int(years_split[1])+1)]
    
    #print(year)
    return year

# To see all of the different values for sources, uncomment the following code:
#print(df.Source.unique())

def clean_source(source):
    cleaned_source = source.title()
    return cleaned_source

df['Year_cleaned'] = df['Year'].apply(clean_year)
df['Source_cleaned'] = df['Source'].apply(clean_source)

df.head()

,Year,Source,Description,Total Cases,Year_cleaned,Source_cleaned
0,Eighteenth century BC,Babylonian codex Eshuna,“mad dogs” (most probably rabies).,None,-1800,Babylonian Codex Eshuna
1,Fourth century BC,Talmud,notes on mad dogs in Israel.,None,-400,Talmud
2,1320 BC,Bible,a description of a plague epidemic among the P...,None,-1320,Bible
3,556 BC,China,a description of rabies.,None,-556,China
4,435 BC,HIPPOKRATES,“Epidemion” (the causes of diseases are in env...,None,-435,Hippokrates

We want to visualize the countries that have experienced outbreaks over time, so we'll use the data that we have to generate country codes for each of the outbreaks. We'll use data that matches country names to their 3-digit ISO codes from this [link](https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv).

In [153]:
# First, let's get an idea of all of the unique countries and cities that are mentioned in the descriptions
descriptions = df.Description.values
potential_cities = []
for description in descriptions:
    words = description.split()
    for i in range(len(words)):
        if words[i][0].isupper():
            if words[i] in ['New', 'North', 'South', 'East', 'West', 'Central']:
                potential_cities.append(words[i] + ' ' + words[i+1])
            else:
                potential_cities.append(words[i])
            
print(potential_cities)

['Israel.', 'Philistines', 'Athens”', 'Athens', 'Spartan', 'BC)', 'When', 'Athenian', 'Sparta,', 'Pericles', 'The', 'Thucydides', 'According', 'WN', 'Ebola', 'CCHF,', 'In', 'Athens.', 'Libya,', 'Egypt', 'Syria', 'BC).', 'Byzantine', 'Caesar)', 'Egypt,', 'Palestine,', 'Syria,', 'Constantinople,', 'Europe', 'Spain,', 'France,', 'Germany,', 'Denmark,', 'England),', 'Asia', 'China', 'Black', 'Death”)', 'Europe', 'Asia,', 'Tatars', 'Saracens', 'During', 'Genoan', 'Caffa', 'Theodosia)', 'Crimea,', 'Tatars', 'Genoan', 'Constantinople', 'Messina.', 'The', 'Italy,', 'Dalmatia,', 'France,', 'England', 'Norway', 'Germany', 'Moravia', 'Poland,', 'Russia', 'Smolensk', 'In', 'Europe,', 'Asia', 'Mongolian', 'Africa', 'Europe.', 'Sanità”:', 'Germany,', 'France', 'Russia.', 'Maurs,', 'Spanish', 'French', 'III”).', 'Italy', 'Venezia', 'Milan', 'Swiss', 'Germany,', 'France,', 'Switzerland,', 'Italy.', 'Caribbean', 'Little', 'Antilles', 'St.', 'Cristof', 'Guadeloupe),', 'Yucatan', 'Cuba', 'Havana', 'West Africa', 'Africa', 'Aedes', 'Swedish', 'Thirty-Year’s', 'War.', 'Europe', 'London', 'Genova', 'Amsterdam', 'Europe', 'Poland', 'Moravia,', 'Bohemia', 'Prague', 'Austria,', 'Germany', 'Poland,', 'Hungary', 'Russia.', 'Vienna', 'Prague', 'Moravia', 'Europe.', 'Marseille.', 'Mesina', 'Portugal', 'Spain', 'Cadiz).', 'Lyon.', 'YF', 'Cuba.', 'YF', 'Senegal.', 'French', 'Mediterranean', 'Napoleonic', 'Indonesia', 'Java).', 'The', 'Royal', 'Veterinary', 'College', 'London.', 'YF', 'Portugal', 'Spain', 'Haiti', 'French', 'India', 'China,', 'Japan,', 'Indonesia,', 'Russia', 'Baltic,', 'England,', 'Ireland,', 'North America,', 'America,', 'Mexico.', 'YF.', 'YF', 'YF', 'Snow', 'Broad', 'Street', 'London', 'August', 'Cercomonas', 'Giardia', 'YF.', 'Borrelia', 'Obermaier;', 'Koch’s', 'Wuchereria', 'Taiwan', 'Astrakhan', 'Russia', 'Volga),', 'Europe).', 'YF', 'USA', 'RITTER', 'Switzerland,', 'B.', 'Pouilly-le-Fort.', 'YF', 'Aedes', 'Cuba', 'Absidia', 'Oroya).', 'USA', 'Salmonella', 'Pasteur', 'Institute', 'Haematococcus', 'Starkovici', 'Babesia', 'EPPINGER:', 'Nocardia', 'Institute', 'Infectious', 'Diseases', 'Robert', 'Koch', 'Institute)', 'Salmonella', 'BEHRING', 'KITASATO', 'SMITH', 'KILBORNE', 'Texas', 'Babesia', 'Boophilus', 'TST', 'TOT).', 'Hongkong', 'China;', 'India,', 'Europe,', 'Africa,', 'Americas', 'Australia):', 'Hongkong.', 'BUSSE', 'SANFELICE', 'Trypanosoma', 'Glossina', 'OGATA', 'Xenopsylla', 'ERMENGEM', 'Clostridium', 'School', 'Tropical', 'Medicine', 'Dutton).', 'London', 'School', 'Hygiene', 'Tropical', 'Medicine', 'Manson).', 'ROSS', 'GRASSI', 'Anopheles', 'Nobel', 'Ross].', 'GILCHRIST', 'STOKES:', 'Institute', 'Maritime', 'Tropical', 'Diseases', 'Bernhard', 'Nocht', 'Institute', 'Tropical', 'Medicine)', 'OPHÜLS', 'MOFFITT', 'YF', 'Cuba.', 'YF', 'C.', 'Finlay', 'J.', 'Lazear', 'YF', 'Ae.', 'Havana', 'Panama', 'Canal,', 'DUTTON', 'BRUCE:', 'Trypanosoma', 'Glossina', 'Aujeszky).', 'NEGRI', 'CNS', 'GRAHAM', 'Lebanon.', 'DUTTON', 'TODD', 'KOCH', 'Africa),', 'ROSS', 'MILNE', 'African', 'Borrelia', 'TOT)', 'Todd', 'Dutton', 'Livingstone', 'Clostridium', 'ZAMMIT', 'Brucella', 'RICKETTS', 'Rocky', 'Mountain', 'TOT)', 'Dermacentor', 'BANCROFT', 'Aedes', 'DARLING', 'CHAGAS', 'Triatoma', 'Trypanosoma', 'NICOLLE', 'MANCEAUX', 'Toxoplasma', 'AFZELIUS', 'Ixodes', 'Sweden', 'KLEINE', 'Trypanosoma', 'Glossina', 'DOERR,', 'FRANZ', 'TAUSSIG', 'NICOLLE,', 'SERGENT', 'FOLEY', 'FRANCO', 'Columbia', 'YF”)', 'Ae.', 'McCOY', 'CHAPIN', 'Tulare', 'ZABOLOTNY', 'Russia.', 'SPLENDORE', 'Paracoccidioides', 'Prowazek', 'INADA', 'UHLENHUTH', 'Leptospira', 'LANE', 'MEDLAR', 'CLELAND', 'CAMPBELL', 'Murray', 'Valley', 'CNS', 'Australia', 'STOKES', 'FRANCIS', 'BOYD', 'CRUTCHFIELD', 'SPENCER', 'PARKER', 'RMSF', 'Dermacentor', 'SPENCER', 'RMSF.', 'D.', 'RAMON', 'DESCOMBEY', 'Clostridium', 'MURRAY', 'Listeria', 'KRUIF', 'Hunters”.', 'SILLER,', 'HALL', 'HITCHENS', 'Aedes', 'STOKES,', 'BAUER', 'HUDSON', 'RAMON', 'Athens,', 'Greece.', 'EVANS', 'Brucella', 'FLEMING', 'Penicillium', 'EPSTEIN', 'TARASOV', 'Leptospira', 'Europe.', 'BEDSON', 'USA', 'Europe,', 'Amazon', 'Argentina.', 'POOL,', 'BROWNLEE', 'WILSON', 'CNS', 'Scotland', 'LI', 'THEILER', 'NAGAYO,', 'KAWAMURA', 'DAUBNEY,', 'HUDSON', 'GARNHAM', 'RVF', 'GOODPASTURE', 'WOODRUFF', 'MEYER,', 'ROSENBUSCH', 'WEE', 'California', 'USA).', 'MacLEOD', 'GORDON', 'LI', 'Ixodes', 'McCOY', 'BEDSON', 'KRUIF', 'Against', 'Death”.', 'MUCKENFUSS', 'SLE', 'GILTNER,', 'SHAHAN,', 'TEN', 'BROECK', 'MERRIL', 'EEE', 'CNS', 'USA', 'USA', 'DeMONBREUN', 'LOVE', 'JUNGHERR', 'B', 'ARMSTRONG', 'LILLIE', 'LCM', 'PANOV', 'Russian', 'Siberia', 'Ministry', 'Health', 'USSR,', 'HFRS', 'Korea', 'DOMAGK', 'Great', 'Britain', 'Britain).', 'Japanese', 'CNS', 'Tokyo.', 'DERRICK', 'Q', 'Australia.', 'Lower', 'Austria,', 'Slovakia', 'Moravia', 'THEILER', 'YF', 'RSSE', 'Siberia;', 'Kagan,', 'V.I.', 'Pomerancev,', 'N.', 'Utkina)', 'RSSE', 'M.P.', 'Chumakov.', 'VEE', 'Venezuela.', 'PAVLOVSKY', 'MÜLLER', 'DDT', 'ZIEDLER', 'MÜLLER', 'SMITHBURN', 'WN', 'West Nile', 'Nile', 'Uganda.', 'FLOREY,', 'CHAIN', 'HEATLEY', 'A.', 'Fleming,', 'E.B.', 'Chain', 'H.W.', 'Florey', 'SMORODINTSEV', 'HFRS.', 'HIRST', 'HIT', 'MEYER', 'New York', 'York', 'City).', 'EMMONS', 'ASHBURN', 'North-American', 'KIMURA', 'HOTTA', 'WAKSMAN,', 'UGIE', 'SCHATZ', 'S.A.', 'Waksman', 'WOODWARD', 'SABIN', 'SFS)', 'FLORIO', 'CTF', 'CHUMAKOV', 'Crimean', 'Center', 'Disease', 'Control', 'Atlanta,', 'USA', 'Centers', 'Disease', 'Control', 'Prevention', 'HUEBNER,', 'POMERANTZ', 'JELLISON', 'CHUMAKOV', 'OHF', 'BURKHOLDER', 'DUGGAR', 'The', 'Gamaleya', 'Institute', 'Epidemiology', 'Microbiology', 'USSR', 'Academy', 'Medical', 'Sciences)', 'Moscow.', 'ENDERS,', 'WELLER', 'ROBBINS', 'KREJCˇ', 'Í,', 'GALLIA', 'RAMPAS', 'TBE', 'CSF', 'Ixodes', 'Czechland.', 'USD', 'BLAŠKOVICˇ,', 'BÁRDOŠ,', 'RAŠKA', 'TBE', 'Rožnˇava,', 'Slovakia.', 'HFRS', 'American', 'Korean', 'TAYLOR', 'Sindbis', 'Culex', 'Egypt.', 'Chikungunya', 'Tanzania', 'Uganda.', 'HAMMON', 'REEVES', 'California', 'SMORODINTSEV', 'GREŠÍKOVÁ', 'TBE', 'CHAMBERLAIN', 'Asian', 'Rangun,', 'Bombay,', 'Madras', 'India).', 'TAYLOR', 'WORK', 'TRAPIDO', 'Kyasanur', 'India),', 'Flavivirus', 'KFD,', 'Haemaphysalis', 'SKRABALO', 'DEANOVIC', 'Babesia', 'Slovenia).', 'PARODI,', 'CASALS,', 'BUCKLEY', 'Argentine', 'Junin).', 'BÁRDOŠ', 'DANIELOVÁ', 'Tˇahynˇa', 'Aedes', 'Slovakia', 'Europe).', 'SIMPSON', 'Congo', 'ONN', 'Uganda', 'San', 'Joaquin,', 'Bolivia', 'Moravia', 'Tˇahynˇa', 'Oropouche', 'Brazil,', 'VEE', 'Venezuela', 'Columbia.', 'GREŠÍKOVÁ', 'LIBÍKOVÁ', 'Tribecˇ/Lipovník', 'Slovakia.', 'JOHNSON,', 'MacKENZIE,', 'KUNS', 'WEBB', 'Bolivian', 'Machupo)', 'THOMPSON', 'LaCrosse', 'California', 'CHUMAKOV', 'Crimean', 'Russia', 'Marburg', 'Germany', 'AG', 'Marburg,', 'Frankfurt)', 'Serbia', 'Uganda', 'BUCKLEY,', 'CASALS', 'DOWNS', 'Lassa', 'Nigeria.', 'Rocio', 'Brazil.', 'Zaire', 'Congo).', 'The', 'VON', 'MAGNUS', 'Ross', 'River', 'Australia', 'Campylobacter', 'B', 'NIME', 'Cryptosporidium', 'Milwaukee,', 'Wisconsin).', 'Fort', 'Dix,', 'New Jersey', 'Jersey', 'USD', 'US', 'Guillain-Barré', 'Philadelphia', 'LEE,', 'LEE', 'JOHNSON', 'HFRS', 'Korea', 'Ebola', 'Zaire', 'Sudan,', 'RVF', 'Egypt', 'BRUMMER-KORVENKONTIO', 'Finland', 'Ross', 'River', 'Polynesia', 'Oropouche', 'Amazonia.', 'Escherichia', 'O157:H7', 'USA)', 'BURGDORFER', 'Lyme', 'Old', 'Lyme', 'USA)', 'STEERE', 'Lyme', 'MONTAGNIER,', 'BARRÉ-SINOUSSI,', 'GALLO', 'HIV)', 'AIDS,', 'MULLIS', 'PCR', 'MAEDA', 'GLIGICˇ', 'HFRS', 'Serbia', 'Venezuela', 'REGNERY,', 'WELCH', 'ANDERSON,', 'DAWSON', 'Navaha', 'Indians', 'Corners”', 'USA),', 'Nombre', 'BAKKEN,', 'DUMLER,', 'CHEN', 'Ixodes', 'USA.', 'MURRAY,', 'SELVEY', 'Hendra', 'Australia.', 'WILL', 'Creutzfeld-Jakob', 'Great', 'Britain', 'West Nile', 'Nile', 'Romania', 'PHILBEY,', 'KIRKLAND,', 'ROSS', 'Menangle', 'Australia', 'SIT', 'BING', 'Nipah', 'Malaysia.', 'West Nile', 'Nile', 'New York', 'York', 'WNV', 'Israel),', 'North (later', 'Central and', 'South)', 'America;', 'WN', 'Russia', 'Israel.', 'SARS', 'Asia,', 'Centre', 'Disease', 'Prevention', 'Control”', 'Stockholm.', 'Asia,', 'Europe', 'Africa;', 'August', 'Indonesia', 'Vietnam', 'Egypt', 'Indian', 'Ocean', 'Island', 'India', 'Q', 'Netherlands', 'Europe', 'India):', 'Italy', 'Ljungan', 'CNS', 'Lujo', 'South Africa).', 'Africa).', 'H1N1', 'As', 'April']

That looks pretty messy. Let's see if we can use ChatGPT to help give potential country codes for each outbreak to be used in our visualization.

In [187]:
openai.api_key = "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"


# Create the source, description tuples to pass as a prompt
prompt_list = list(zip(df.Source, df.Description))
#print(prompt_tuples)
prompt_test = prompt_list[:5]
print(prompt_test)

# Create the language for the prompt
context = """
This tuple represents the source and the description of a historical disease outbreak formatted as
(source, description). For the tuple, analyze the text of the source and description and return your best guess
as to what the modern 3-digit iso country code for the location described in the tuple is. For example, if the tuple includes
"Babylon", return "IRQ" (the country code for Iraq, the modern-day country). If a city is included,
return the 3-digit country code for the country in which the city is located. If multiple cities, countries, or locations are included, 
include all of them in your response. Format your response as a list to be read in Python, and do not add extra characters.
For example, if "Egypt", "Syria", and "Lebanon" all appear in the same tuple, the response for that tuple should be
["EGY", "SYR", "LBN"]. If you do not know, make your best guess. For example, if the name of the source is a Greek name and there
is no better information, return the country code for Greece. If the Philistines are mentioned, return the country code for
the modern-day country in the same land in which the Philistines lived. Generalize those concepts to other cases."""



print(len(prompt_list))

[('Babylonian codex Eshuna', '“mad dogs” (most probably rabies).'), ('Talmud', 'notes on mad dogs in Israel.'), ('Bible', 'a description of a plague epidemic among the Philistines (enlarged lymphatic nodes, overpopulation of “mice” at the same time).'), ('China', 'a description of rabies.'), ('HIPPOKRATES', '“Epidemion” (the causes of diseases are in environment).')]
254

In [185]:
@backoff.on_exception(backoff.expo, openai.error.RateLimitError)
def get_country_codes(prompt, context):
    cc_list = []
    for t in prompt:
        response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo", 
        messages=[
            {"role": "system", "content": context}, 
            {"role":"user", "content": str(t)}
        ]
    )
        cc_list.append(response["choices"][0]["message"]["content"])
    return cc_list

In [191]:
country_code_list = get_country_codes(prompt_list, context)

In [194]:
print(country_code_list)

["['IRQ']", "['ISR']", '["EGY", "ISR"]', "['CHN']", '["GRC"]', '["GRC"]', "['CHN']", "['IND', 'ITA']", "['TUR']", "['EGY', 'PSE', 'SYR', 'TUR', 'ITA', 'ESP', 'FRA', 'DEU', 'DNK', 'GBR', 'CHN']", "['ITA']", "['RUS', 'ITA', 'HRV', 'FRA', 'ENG', 'NOR', 'DEU', 'CZE', 'POL']", "['ITA']", "['DEU', 'FRA', 'RUS']", "['ESP']", "['HTI', 'DOM']", "['ITA']", "['HUN']", "['MEX']", "['ITA']", "['ITA']", "['ITA']", "['ITA', 'CHE']", "['DEU', 'FRA', 'CHE', 'ITA']", "['BRB', 'KNA', 'GLP', 'MEX', 'CUB']", "['CZE']", "['SWE', 'GBR', 'ITA', 'NLD']", "['POL', 'CZE', 'AUT', 'DEU']", "['POL', 'HUN', 'RUS']", "['AUT', 'CZE']", '["FRA"]', "['ITA']", "['ESP', 'PRT']", "['FRA']", "['CUB']", "['SEN']", "['ITA']", "['IDN']", "['RUS']", "['GBR']", '["USA"]', "['ESP', 'PRT']", "['USA']", "['IND', 'CHN', 'JPN', 'IDN', 'RUS', 'BALT', 'GBR', 'IRL', 'USA', 'MEX']", "['DEU']", '["DEU"]', "['POL', 'FRA']", '["GRC"]', "['FRA']", "['USA']", "['COD']", "['GBR']", '["GRC"]', "['FRA']", "['DEU']", "['GRC']", "['BRA']", "['GER']", "['DEU']", "['DEU']", '["DEU"]', '["TWN"]', "['RUS']", '["USA"]', "['FRA']", "['CHE']", '["FRA"]', "['CUB']", "['DEU']", 'No specific location information is provided in the tuple. Since the source is "PASTEUR" and related to the development of a serum against rabies, we can assume that the location is France. Therefore, the modern 3-digit iso country code for the location described in the tuple is "FRA".', "['DEU']", "['USA']", "['RUS']", '["GRC"]', '["FRA"]', "['PER']", '["MLT"]', "['USA']", '["DZA"]', "['FRA']", "I'm sorry, but this information does not provide any clues about the location. Could you provide more details or context?", '["JPN"]', "['DEU']", "['DEU']", '[]', '["USA"]', "['GRC']", "['HKG', 'CHN', 'JPN', 'IND', 'FRA', 'GBR', 'DEU', 'ITA', 'EGY', 'MAR', 'TUN', 'DZA', 'LBY', 'USA', 'CAN', 'AUS']", "['HKG']", "['ITA']", '["COD"]', '[]', "['DEU']", '[]', "['GBR']", "['GBR']", '["IND"]', "['USA']", "['DEU']", '[]', "['CUB']", '["CUB"]', '["CUB"]', '["CAF"]', "['HUN']", '["ITA"]', "['LBN']", "['KEN', 'UGA']", "['USA']", "['MLT']", '["USA"]', "['USA']", '[]', '["ARG"]', '[]', "['SWE']", '["COD"]', '[]', "['FRA']", "['COL']", "['USA']", "['RUS']", "['BRA']", '["BRA"]', '["WHO"]', "['GRC']", "['AUS']", '["ESP"]', '["USA"]', "['FRA']", '["USA"]', "['USA']", "['USA']", '["USA"]', '["FRA"]', '[]', '["USA"]', "['PHL']", '["USA"]', "['GRC']", '["GRC"]', '[]', '["GBR"]', "['EU']", "['USA', 'ARG']", '["GBR"]', "['ZAF']", "['JPN']", "['KEN']", '[]', '["USA"]', '[]', '[]', '[]', '["Unknown"]', '["USA"]', '[]', '[]', '[]', "['RUS']", "['KOR']", '["DEU"]', '["GBR"]', "['JPN']", '["AUS"]', "['AUT', 'SVK', 'CZE']", '[]', "['RUS']", "['VEN']", "['RUS']", '["DEU"]', "['UGA']", 'Unknown', '[]', '[]', "['USA']", "['USA']", '[]', "['USA']", '[]', "['ITA']", '[]', '["RUS"]', "['USA']", '["USA"]', "['RUS']", "['USA']", "['RUS']", '[]', "['CZE']", '[]', "['SVK']", "['USA', 'KOR']", "['EGY']", "['TZA', 'UGA']", '["USA"]', "['RUS', 'SVK']", '[]', "['MMR', 'IND']", "['USA']", "['IND']", '["SVN"]', "['ARG']", "['SVK']", "['COD']", '["UGA"]', "['BOL']", "['CZE']", "['BRA']", "['VEN', 'COL']", "['SVK']", "['BOL']", '["USA"]', "['RUS']", "['DEU', 'SRB', 'UGA']", "['NGA']", "['BRA']", "['COD']", "['AUS']", "['USA']", '["multiple sources"]', "['USA']", "['USA']", '["USA"]', "['KOR']", "['COD', 'SDN']", "['EGY']", '["FIN"]', "['ASM', 'COK', 'FJI', 'FSM', 'KIR', 'MHL', 'MNP', 'NCL', 'NRU', 'NZL', 'PLW', 'PNG', 'PYF', 'TKL', 'TON', 'TUV', 'VUT', 'WLF']", "['BRA']", "['USA']", '["USA"]', "['USA']", "['USA']", "['SRB', 'SRB', 'VEN']", '[]', 'Unknown', '["USA"]', '["USA"]', "['AUS']", '["GBR"]', "['ROU']", "['AUS']", "['MYS']", '["USA", "ISR", "RUS"]', "['CHN', 'CAN']", "['SWE']", "['IDN', 'VNM', 'EGY']", "['REU', 'IND']", "['NLD']", "['ITA']", "['SWE']", "['ZMB', 'ZAF']", '[]']

In [195]:
df['Country'] = country_code_list

In [225]:
clean_codes = []
for i in country_code_list:
    try:
        clean_codes.append(ast.literal_eval(i))
    except:
        clean_codes.append([])
    
print(clean_codes)
df.head()

[['IRQ'], ['ISR'], ['EGY', 'ISR'], ['CHN'], ['GRC'], ['GRC'], ['CHN'], ['IND', 'ITA'], ['TUR'], ['EGY', 'PSE', 'SYR', 'TUR', 'ITA', 'ESP', 'FRA', 'DEU', 'DNK', 'GBR', 'CHN'], ['ITA'], ['RUS', 'ITA', 'HRV', 'FRA', 'ENG', 'NOR', 'DEU', 'CZE', 'POL'], ['ITA'], ['DEU', 'FRA', 'RUS'], ['ESP'], ['HTI', 'DOM'], ['ITA'], ['HUN'], ['MEX'], ['ITA'], ['ITA'], ['ITA'], ['ITA', 'CHE'], ['DEU', 'FRA', 'CHE', 'ITA'], ['BRB', 'KNA', 'GLP', 'MEX', 'CUB'], ['CZE'], ['SWE', 'GBR', 'ITA', 'NLD'], ['POL', 'CZE', 'AUT', 'DEU'], ['POL', 'HUN', 'RUS'], ['AUT', 'CZE'], ['FRA'], ['ITA'], ['ESP', 'PRT'], ['FRA'], ['CUB'], ['SEN'], ['ITA'], ['IDN'], ['RUS'], ['GBR'], ['USA'], ['ESP', 'PRT'], ['USA'], ['IND', 'CHN', 'JPN', 'IDN', 'RUS', 'BALT', 'GBR', 'IRL', 'USA', 'MEX'], ['DEU'], ['DEU'], ['POL', 'FRA'], ['GRC'], ['FRA'], ['USA'], ['COD'], ['GBR'], ['GRC'], ['FRA'], ['DEU'], ['GRC'], ['BRA'], ['GER'], ['DEU'], ['DEU'], ['DEU'], ['TWN'], ['RUS'], ['USA'], ['FRA'], ['CHE'], ['FRA'], ['CUB'], ['DEU'], [], ['DEU'], ['USA'], ['RUS'], ['GRC'], ['FRA'], ['PER'], ['MLT'], ['USA'], ['DZA'], ['FRA'], [], ['JPN'], ['DEU'], ['DEU'], [], ['USA'], ['GRC'], ['HKG', 'CHN', 'JPN', 'IND', 'FRA', 'GBR', 'DEU', 'ITA', 'EGY', 'MAR', 'TUN', 'DZA', 'LBY', 'USA', 'CAN', 'AUS'], ['HKG'], ['ITA'], ['COD'], [], ['DEU'], [], ['GBR'], ['GBR'], ['IND'], ['USA'], ['DEU'], [], ['CUB'], ['CUB'], ['CUB'], ['CAF'], ['HUN'], ['ITA'], ['LBN'], ['KEN', 'UGA'], ['USA'], ['MLT'], ['USA'], ['USA'], [], ['ARG'], [], ['SWE'], ['COD'], [], ['FRA'], ['COL'], ['USA'], ['RUS'], ['BRA'], ['BRA'], ['WHO'], ['GRC'], ['AUS'], ['ESP'], ['USA'], ['FRA'], ['USA'], ['USA'], ['USA'], ['USA'], ['FRA'], [], ['USA'], ['PHL'], ['USA'], ['GRC'], ['GRC'], [], ['GBR'], ['EU'], ['USA', 'ARG'], ['GBR'], ['ZAF'], ['JPN'], ['KEN'], [], ['USA'], [], [], [], ['Unknown'], ['USA'], [], [], [], ['RUS'], ['KOR'], ['DEU'], ['GBR'], ['JPN'], ['AUS'], ['AUT', 'SVK', 'CZE'], [], ['RUS'], ['VEN'], ['RUS'], ['DEU'], ['UGA'], [], [], [], ['USA'], ['USA'], [], ['USA'], [], ['ITA'], [], ['RUS'], ['USA'], ['USA'], ['RUS'], ['USA'], ['RUS'], [], ['CZE'], [], ['SVK'], ['USA', 'KOR'], ['EGY'], ['TZA', 'UGA'], ['USA'], ['RUS', 'SVK'], [], ['MMR', 'IND'], ['USA'], ['IND'], ['SVN'], ['ARG'], ['SVK'], ['COD'], ['UGA'], ['BOL'], ['CZE'], ['BRA'], ['VEN', 'COL'], ['SVK'], ['BOL'], ['USA'], ['RUS'], ['DEU', 'SRB', 'UGA'], ['NGA'], ['BRA'], ['COD'], ['AUS'], ['USA'], ['multiple sources'], ['USA'], ['USA'], ['USA'], ['KOR'], ['COD', 'SDN'], ['EGY'], ['FIN'], ['ASM', 'COK', 'FJI', 'FSM', 'KIR', 'MHL', 'MNP', 'NCL', 'NRU', 'NZL', 'PLW', 'PNG', 'PYF', 'TKL', 'TON', 'TUV', 'VUT', 'WLF'], ['BRA'], ['USA'], ['USA'], ['USA'], ['USA'], ['SRB', 'SRB', 'VEN'], [], [], ['USA'], ['USA'], ['AUS'], ['GBR'], ['ROU'], ['AUS'], ['MYS'], ['USA', 'ISR', 'RUS'], ['CHN', 'CAN'], ['SWE'], ['IDN', 'VNM', 'EGY'], ['REU', 'IND'], ['NLD'], ['ITA'], ['SWE'], ['ZMB', 'ZAF'], []]

,Year,Source,Description,Total Cases,Year_cleaned,Source_cleaned,Country
0,Eighteenth century BC,Babylonian codex Eshuna,“mad dogs” (most probably rabies).,None,-1800,Babylonian Codex Eshuna,['IRQ']
1,Fourth century BC,Talmud,notes on mad dogs in Israel.,None,-400,Talmud,['ISR']
2,1320 BC,Bible,a description of a plague epidemic among the P...,None,-1320,Bible,"[""EGY"", ""ISR""]"
3,556 BC,China,a description of rabies.,None,-556,China,['CHN']
4,435 BC,HIPPOKRATES,“Epidemion” (the causes of diseases are in env...,None,-435,Hippokrates,"[""GRC""]"

In [226]:
# Now that we have our country codes specified, we can take the columns we want to look at 

df_important = df.copy()
df_important = df_important[['Year_cleaned', 'Source_cleaned', 'Country', 'Description']]

df_exploded = df_important.explode('Year_cleaned')
df_exploded['Country'] = df_exploded['Country'].apply(lambda x: ''.join(c for c in x if c not in "[],'\"").split())
df_exploded = df_exploded.explode('Country')

#for i in df_exploded.Country:
    #print(type(i))
df_exploded.head()

,Year_cleaned,Source_cleaned,Country,Description
0,-1800,Babylonian Codex Eshuna,IRQ,“mad dogs” (most probably rabies).
1,-400,Talmud,ISR,notes on mad dogs in Israel.
2,-1320,Bible,EGY,a description of a plague epidemic among the P...
2,-1320,Bible,ISR,a description of a plague epidemic among the P...
3,-556,China,CHN,a description of rabies.

In [ ]:
df.to_pickle("data/historical_outbreaks.pkl")