# Cleaning the Historical Data

In this notebook, we take the summary of historical zoonotic outbreaks compiled by Hubálek and Rudolf in their 2010 [paper](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7120709/). We copied their summary into a text file called HistoricalOutbreaks.txt, which can be found in the Data folder in our repository. We then read in the text file and converted the data to a dataframe to be used to create a visualization for our report.

In [1]:
import pandas as pd
import re
import openai
import backoff
import ast
from collections import Counter

In [55]:
# Read the text data from the file
with open('data/HistoricalOutbreaks.txt', 'r', encoding='utf-8') as file:
    text_data = file.read()

# Split the text into lines
lines = text_data.split('\n')

# Initialize lists to store the information
years = []
sources = []
descriptions = []
total_cases = []

# Extract information from each line
for line in lines:

    # Extract the year of the outbreak, the source (or the source of the information), and the description
    try:
        parts = line.split(': ', 1)
        description = parts[1]
    except:
        parts = line.split(', ', 1)
        description = parts[1]
    try:
        part_1 = parts[0].split(', ')
        year, source = part_1[0], part_1[1]
    except:
        year, source = parts[0], "Multiple Sources"

        
    # Try to extract total cases if available
    try:
        total_cases_match = re.search(r'(\d+,?\d*)\s*(?:cases|victims|persons died)', description)
        total_count = total_cases_match.group(1) if total_cases_match else None
    except:
        total_count = None

    # Append to lists
    years.append(year)
    sources.append(source)
    descriptions.append(description)
    total_cases.append(total_count)

# Create a DataFrame

df = pd.DataFrame({'Year': years, 'Source': sources, 'Description': descriptions, 'Total Cases': total_cases})

pd.set_option('display.max_rows', None)
df.head(5)

,Year,Source,Description,Total Cases
0,Eighteenth century BC,Babylonian codex Eshuna,“mad dogs” (most probably rabies).,None
1,Fourth century BC,Talmud,notes on mad dogs in Israel.,None
2,1320 BC,Bible,a description of a plague epidemic among the P...,None
3,556 BC,China,a description of rabies.,None
4,435 BC,HIPPOKRATES,“Epidemion” (the causes of diseases are in env...,None

This looks pretty good. Next, let's clean things up a bit.

In [57]:
# To see all of the different values for years, uncomment the following code:
# print(df.Year.unique())

# Function to clean the Year column (remember we are interested in the beginning of each outbreak)
def clean_year(year):
    
    # Handle cases defined as centuries instead of years
    if 'century' in year:
        century_int_map = {
            'Eighteenth': "1800",
            'Fourth': "400",
            'First': "100",
            'Fifteenth': "1400",
            }
        parts = year.split(' ')
        try:
            year = century_int_map[parts[0]] + ' ' + parts[2]
        except:
            year = century_int_map[parts[0]]
            
    # Handle cases that include "BC"
    if 'BC' in year:
        parts = year.split(' ')
        if len(parts[0])<5:
            year = -int(parts[0])
        else:
            years = year.split()
            #print(years)
            years_split = years[0].split("–")
            #print(years_split)
            year = [i for i in range(-int(years_split[0]), -int(years_split[1])+1)]
    #print(year)
    
    # Handle year ranges (e.g. "1713-1715")
    if '–' in str(year)[1:]:
        years = year.replace(' ', '').split()
        if len(years[0])>9:
            years_split = years[0][:9].split("–")
        else:
            years_split = years[0].split("–")
            # Handle cases where both years aren't 4 digits.
            if len(years_split[1]) == 2:
                years_split[1] = years_split[0][:2] + years_split[1]   
        year = [i for i in range(int(years_split[0]), int(years_split[1])+1)]
    
    #print(year)
    try:
        return int(year)
    except:
        return year

# To see all of the different values for sources, uncomment the following code:
#print(df.Source.unique())

def clean_source(source):
    cleaned_source = source.title()
    return cleaned_source

df['Year'] = df['Year'].apply(clean_year)
df['Source_cleaned'] = df['Source'].apply(clean_source)

df.head()

,Year,Source,Description,Total Cases,Source_cleaned
0,-1800,Babylonian codex Eshuna,“mad dogs” (most probably rabies).,None,Babylonian Codex Eshuna
1,-400,Talmud,notes on mad dogs in Israel.,None,Talmud
2,-1320,Bible,a description of a plague epidemic among the P...,None,Bible
3,-556,China,a description of rabies.,None,China
4,-435,HIPPOKRATES,“Epidemion” (the causes of diseases are in env...,None,Hippokrates

We want to visualize the countries that have experienced outbreaks over time, so we'll use the data that we have to generate country codes for each of the outbreaks. We'll use data that matches country names to their 3-digit ISO codes from this [link](https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv).

In [58]:
# First, let's get an idea of all of the unique countries and cities that are mentioned in the descriptions
descriptions = df.Description.values
potential_cities = []
for description in descriptions:
    words = description.split()
    for i in range(len(words)):
        if words[i][0].isupper():
            if words[i] in ['New', 'North', 'South', 'East', 'West', 'Central']:
                potential_cities.append(words[i] + ' ' + words[i+1])
            else:
                potential_cities.append(words[i])
            
print(potential_cities[:20])

['Israel.', 'Philistines', 'Athens”', 'Athens', 'Spartan', 'BC)', 'When', 'Athenian', 'Sparta,', 'Pericles', 'The', 'Thucydides', 'According', 'WN', 'Ebola', 'CCHF,', 'In', 'Athens.', 'Libya,', 'Egypt']

That looks pretty messy. Let's see if we can use ChatGPT to help us label the country codes for each outbreak to be used in our visualization.

In [59]:
# Create the source, description tuples to pass as a prompt
prompt_list = list(zip(df.Source, df.Description))
#print(prompt_tuples)
prompt_test = prompt_list[:5]
print(prompt_test)

# Create the language for the prompt
context = """
This tuple represents the source and the description of a historical disease outbreak formatted as
(source, description). For the tuple, analyze the text of the source and description and return your best guess
as to what the modern 3-digit iso country code for the location described in the tuple is. For example, if the tuple includes
"Babylon", return "IRQ" (the country code for Iraq, the modern-day country). If a city is included,
return the 3-digit country code for the country in which the city is located. If multiple cities, countries, or locations are included, 
include all of them in your response. Format your response as a list to be read in Python, and do not add extra characters.
For example, if "Egypt", "Syria", and "Lebanon" all appear in the same tuple, the response for that tuple should be
["EGY", "SYR", "LBN"]. If you do not know, make your best guess. For example, if the name of the source is a Greek name and there
is no better information, return the country code for Greece. If the Philistines are mentioned, return the country code for
the modern-day country in the same land in which the Philistines lived. Generalize those concepts to other cases."""



print(len(prompt_list))

[('Babylonian codex Eshuna', '“mad dogs” (most probably rabies).'), ('Talmud', 'notes on mad dogs in Israel.'), ('Bible', 'a description of a plague epidemic among the Philistines (enlarged lymphatic nodes, overpopulation of “mice” at the same time).'), ('China', 'a description of rabies.'), ('HIPPOKRATES', '“Epidemion” (the causes of diseases are in environment).')]
254

In [60]:
# Define a function to call the OpenAI API and generate a response
@backoff.on_exception(backoff.expo, openai.error.RateLimitError)
def get_country_codes(prompt, context):
    cc_list = []
    for t in prompt:
        response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo", 
        messages=[
            {"role": "system", "content": context}, 
            {"role":"user", "content": str(t)}
        ]
    )
        cc_list.append(response["choices"][0]["message"]["content"])
    return cc_list

If you want to regenerate the ChatGPT responses, uncomment the following cell. The responses the model gave us are saved as a pickle file.

In [61]:
#openai.api_key = "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"
#country_code_list = get_country_codes(prompt_list, context)

#country_code_series = pd.Series(country_code_list)
#country_code_series.to_pickle("data/country_code_labels.pkl")
#print(country_code_list)

In [62]:
country_codes = pd.read_pickle("data/country_code_labels.pkl")

df['Country'] = country_codes

In [63]:
clean_codes = []
for i in country_codes:
    try:
        clean_codes.append(ast.literal_eval(i))
    except:
        clean_codes.append([])
    
print(clean_codes[:5])
df.head()

[['IRQ'], ['ISR'], ['EGY', 'ISR'], ['CHN'], ['GRC']]

,Year,Source,Description,Total Cases,Source_cleaned,Country
0,-1800,Babylonian codex Eshuna,“mad dogs” (most probably rabies).,None,Babylonian Codex Eshuna,['IRQ']
1,-400,Talmud,notes on mad dogs in Israel.,None,Talmud,['ISR']
2,-1320,Bible,a description of a plague epidemic among the P...,None,Bible,"[""EGY"", ""ISR""]"
3,-556,China,a description of rabies.,None,China,['CHN']
4,-435,HIPPOKRATES,“Epidemion” (the causes of diseases are in env...,None,Hippokrates,"[""GRC""]"

All looks good! It's also important to know which rows of our dataframe contain information on outbreaks, and which contain information on medical advancements. Since we don't have any labeled data with which to train a classifier, we have two options: we could manually label each case (or enough cases to train a classifier that generalizes well), or we could take advantage of an already-trained LLM again to generate our labels (we opt for the second option).

In [64]:
# Create a new context to feed to the model:
labels_context = """
This tuple contains one of two types of information: 1. either a description of a disease occurrence or outbreak,
or 2. a description of advancements made in the field of epidemiology and the research of diseases. In either case,
the tuple is formatted as (source of the description, description). Return 1 if the tuple contains
the first type of information and return 0 if the tuple contains the second type of information. Your response
should consist of a single character (either 1 or 0)."""

In [65]:
#openai.api_key = "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"

#epidemic_list = get_country_codes(prompt_list, labels_context)
#Epidemic_labels = pd.Series(epidemic_list)
#Epidemic_labels.to_pickle("data/epidemic_labels.pkl")

In our case, OpenAI's API is having some issues and our calls are timing out (typical). We'll have to do it manually instead. Here's a function to help speed up the process. If you want to try to generate the labels with AI, you can uncomment the cell above (you'll have to generate your own API key [here](https://platform.openai.com/docs/overview)).

In [66]:
def input_data(description_list):
    labels=[]
    for d in description_list:
        classification = input(d)
        labels.append(int(classification))
    return labels

Now, we can generate our labels quickly by calling the function and inputing them ourselves. We'll save them as pickle file and comment out the following code so that they don't have to be regenerated each time the notebook is run.

In [67]:
#Epidemic = input_data(df.Description.values)

In [68]:
#Epidemic_labels = pd.Series(Epidemic)
#Epidemic_labels.to_pickle("data/epidemic_labels.pkl")

In [88]:
df['Epidemic'] = pd.read_pickle("data/epidemic_labels.pkl")
df.head()

,Year,Source,Description,Total Cases,Source_cleaned,Country,Epidemic
0,-1800,Babylonian codex Eshuna,“mad dogs” (most probably rabies).,None,Babylonian Codex Eshuna,['IRQ'],1
1,-400,Talmud,notes on mad dogs in Israel.,None,Talmud,['ISR'],1
2,-1320,Bible,a description of a plague epidemic among the P...,None,Bible,"[""EGY"", ""ISR""]",1
3,-556,China,a description of rabies.,None,China,['CHN'],1
4,-435,HIPPOKRATES,“Epidemion” (the causes of diseases are in env...,None,Hippokrates,"[""GRC""]",0

In [95]:
# Now that we have our country codes specified and epidemics labeled, we can take the columns we want to look at 
df_important = df.copy()
df_important = df_important[['Year', 'Source_cleaned', 'Country', 'Description', 'Epidemic']]

# Clean the Year column
df_ex = df_important.explode('Year')

# We only want to look at the past few centuries
df_ex = df_ex.loc[df_ex['Year']>=1700]

# Clean Country column
df_ex['Country'] = df_ex['Country'].apply(lambda x: ''.join(c for c in x if c not in "[],'\"").split())
df_ex = df_ex.explode('Country')

# Get an idea of how our dataframe looks now
print(len(df_ex.Country.unique()))
df_ex.head()

141

,Year,Source_cleaned,Country,Description,Epidemic
28,1709,Multiple Sources,POL,"plague in Poland, Hungary and Russia.",1
28,1709,Multiple Sources,HUN,"plague in Poland, Hungary and Russia.",1
28,1709,Multiple Sources,RUS,"plague in Poland, Hungary and Russia.",1
29,1713,Multiple Sources,AUT,"plague in Vienna (Austria), spread to Prague (...",1
29,1713,Multiple Sources,CZE,"plague in Vienna (Austria), spread to Prague (...",1

Things are really coming together now. The last thing we need for our visualization is to include information for each country on how long it's been since the most recent outbreak.

In [100]:
# First, let's make sure what we have already is sorted
df_ex.sort_values(by=['Year', 'Country'], inplace=True)

# Create a new column for years since last outbreak
df_ex['Years_Since_Outbreak'] = df_ex['Epidemic'].apply(lambda x: 0 if x == 1 else -1)

# Create new rows for countries that have experienced outbreaks within the past 50 years
new_rows = pd.DataFrame()

# Get a list of columns to be used to speed up the process of generating new rows
columns = df_ex.columns

# Iterate
outbreak_years = df_ex.loc[df_ex['Epidemic']==1].Year.unique()
for country in df_ex.Country.unique():
    df_c = df_ex.loc[(df_ex['Epidemic']==1) & (df_ex['Country']==country)]
    outbreak_years_c = df_c.Year.unique()
    country_rows = []
    for ind, row in df_c.iterrows():
         for i in range(1, 51):
            new_year = row['Year'] + i
            if new_year in outbreak_years_c:
                break
            elif new_year<2011:
                new_row = row.copy()
                new_row['Year'] = new_year
                new_row['Years_Since_Outbreak'] = new_year - row['Year']
                country_rows.append(new_row.tolist())
            else:
                break
                
    country_new_rows = pd.DataFrame(country_rows, columns=columns)
    new_rows = pd.concat([new_rows, country_new_rows])
                       
                       
        
df_final = pd.concat([df_ex, new_rows])
            
df_final.sort_values(by=['Year', 'Country'], inplace=True)

df_final['Outbreak_Year'] = df_final['Year'] - df_final['Years_Since_Outbreak']

df_final.sample(20)

,Year,Source_cleaned,Country,Description,Epidemic,Years_Since_Outbreak,Outbreak_Year
24,2005,Multiple Sources,TKL,an extensive epidemic of Ross River fever in P...,1,25,1980
28,2009,Multiple Sources,COK,an extensive epidemic of Ross River fever in P...,1,29,1980
8,1788,Multiple Sources,IDN,big outbreak of dengue fever in Indonesia (on ...,1,9,1779
10,1720,Multiple Sources,RUS,"plague in Poland, Hungary and Russia.",1,11,1709
214,1968,Siegert,DEU,three clusters of Marburg haemorrhagic fever c...,1,0,1968
22,1840,Beginning Of Pandemic Cholera,GBR,"India → China, Japan, Indonesia, Russia → Balt...",1,23,1817
8,1989,Multiple Sources,TUV,an extensive epidemic of Ross River fever in P...,1,9,1980
52,1833,Beginning Of Pandemic Cholera,IDN,"India → China, Japan, Indonesia, Russia → Balt...",1,16,1817
87,1901,Hong Kong,USA,3rd pandemic of plague started in Hongkong aft...,1,0,1901
17,1998,Multiple Sources,VUT,an extensive epidemic of Ross River fever in P...,1,18,1980
148,1930,Multiple Sources,KEN,"DAUBNEY, HUDSON and GARNHAM isolated RVF virus...",0,-1,1931
87,1897,Hong Kong,JPN,3rd pandemic of plague started in Hongkong aft...,1,0,1897
51,1932,Hong Kong,FRA,3rd pandemic of plague started in Hongkong aft...,1,2,1930
65,1819,Spain,ESP,"YF epidemics in Portugal and Spain (80,000 vic...",1,16,1803
87,1909,Hong Kong,CAN,3rd pandemic of plague started in Hongkong aft...,1,0,1909
15,1731,Multiple Sources,AUT,"plague in Vienna (Austria), spread to Prague (...",1,16,1715
219,1975,Butzler,USA,Campylobacter jejuni causes epidemic bacterial...,1,0,1975
10,1944,Multiple Sources,AUS,DERRICK described Q fever among slaughterhouse...,1,7,1937
174,1963,Multiple Sources,RUS,CHUMAKOV et al. first isolated OHF virus (from...,1,16,1947
22,1801,Multiple Sources,SEN,great YF epidemic in Senegal.,1,23,1778

In [101]:
df_final.to_pickle("data/historical_outbreaks.pkl")